.details {
  width: 612px;
  border-left: 0.5px solid var(--light);
  overflow: scroll;
}

.details-header {
  margin: 1rem 2rem;
}

.details-container {
  padding: 1rem;
}
.details-container table {
  border: none;
  margin-top: 1rem;
}
.details-container td {
  min-width: 10rem;
  padding-bottom: 1rem;
}
