@import url("./vars.css");
@import "./assets/styles/button.scss";
@import "./assets/styles/input.scss";
@import "./assets/styles/txt.scss";
@import "./assets/styles/space.scss";
@import "./assets/styles/tooltip.scss";

.relative {
  position: relative;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-basic {
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.baseline {
  display: flex;
  justify-content: baseline;
}
.full {
  flex: 1;
}

.hr {
  border-bottom: 0.5px solid var(--light);
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--black2);
  padding: 0.5rem 2rem;
  width: 100%;
  border-bottom: 0.5px solid var(--light);
}
.navbar-brand {
  color: var(--white);
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-left: 2rem;
}
.navbar-menu {
  cursor: pointer;
}
.navbar-menu-i {
  background-color: var(--white);
  width: 20px;
  height: 1px;
  margin-top: 5px;
}
