:root{
    --black: #1e1f21;
    --black2: #252628;
    --black3: #2E2E2E;
    --gray: #6d6e6f;
    --light: #afabac;
    --light2: #EAECEE;
    --light3: #F2F4F4;
    --white: #fff;
    --purple: #ad7cc4;
    --blue: #4573d2;
    --cyan: #9ee7e3;
    --green: #12714d;
    --green1: #58a182;
}