.input-click {
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  min-height: 0;
  padding: 12px;
  margin-bottom: 0.25rem;
}
.input-click_focus {
  border: 3px solid var(--blue);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  min-height: 0;
  padding: 6px;
  margin-bottom: 0.25rem;
  width: 13rem;
}

.input-focus {
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  min-height: 0;
  padding: 6px;
  width: 100%;
  flex: 1;
  &:hover {
    border: 1px solid var(--gray);
  }
}

.symbol-input {
  border: 3px solid var(--blue);
  border-radius: 5px;
  justify-content: center;
  height: 2.5rem;
  align-items: center;
  display: flex;
  input {
    display: flex;
    border: none;
    margin-left: 0.5rem;
    width: 14rem;
    &:focus {
      outline-width: 0;
    }
  }
  img {
    border: 1px dashed var(--gray);
    border-radius: 30px;
    width: 23px;
    height: 23px;
    margin-left: 0.5rem;
  }
}
